@page "/"

<section class="section video">
    <div class="page-container">
        <video autoplay loop muted plays-inline class="background-clip">
            <source src="css/images/wave.mp4" type="video/mp4">
        </video>

        <div class="content">
            <h1>HD Lifestyle</h1>
            <a href="#">Start Exploring</a>
        </div>
    </div>
</section>
<section class="section one">
    <div class="page-container">
        <div class="column-left">
            <h1 class="text">Organic Fruits</h1>
            <p class="text">Choose from a <br />wide variety of options.</p>
            <button>Get Started</button>
        </div>
        <div class="column-right">
            <img src="./css/images/img-1.jpg" alt="food" class="image" />
        </div>
    </div>
</section>
<section class="section two">
    <div class="page-container">
        <div class="column-left">
            <p class="text">
                Delicious and nutritious foods that you can easily access
            </p>
        </div>
        <div class="column-right">
            <img src="./css/images/img-2.jpg" alt="food" class="image" />
        </div>
    </div>
</section>
<section class="section three">
    <div class="page-container">
        <div class="column-left">
            <p class="text">Unique flavors and options to choose from</p>
        </div>
        <div class="column-right">
            <img src="./css/images/img-3.jpg" alt="food" class="image" />
        </div>
    </div>
</section>
<section class="section four">
    <div class="page-container">
        <div class="column-left">
            <p class="text">We even serve ice cream</p>
        </div>
        <div class="column-right">
            <img src="./css/images/img-4.jpg" alt="food" class="image" />
        </div>
    </div>
</section>